{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
{% endblock %}

{% block main %}
<div class="jumbotron">
  <div class="container">
    <h2><b>Add New Property</b></h2>
    <hr>

    <form action="{{ url_for('add_Property') }}" method="POST" enctype="multipart/form-data">
       {{ form.csrf_token }}
      <div class="formelement">
            <h6>{{ form.title.label }}  <p class="required"> (Required)</p> </h6>
            {{ form.title }}
        </div><br>
        <div class="formelement">
          <h6>{{ form.propertyDesc.label}}<p class="required">(Required)</p></h6>
          {{ form.propertyDesc}}
         </div>
        <div class="formelement">
            <h6>{{ form.NoOfBedrooms.label}}<p class="required"> (Required)</p></h6>
            {{ form.NoOfBedrooms}}
        </div><br>
        <div class="formelement">
            <h6>{{ form.NoOfBathrooms.label}}<p class="required"> (Required)</p></h6>
            {{ form.NoOfBathrooms}}
        </div><br>
        <div class="formelement">
          <h6>{{ form.price.label}}<p class="required">(Required)</p></h6>
          {{ form.price}}
      </div>
      <div class="formelement">
        <h6>{{ form.propertyType.label}}<p class="required">(Required)</p></h6>
        {{ form.propertyType}}
       </div>
        <div class="formelement">
            <h6>{{ form.location.label}}<p class="required">(Required)</p></h6>
            {{ form.location}}
        </div>

       <div class="formelement">
        <h6>{{ form.photo.label}}<p class="required">(Required)</p></h6>
        {{ form.photo}}
       </div>      
        <button type="submit" class="add_PropertyBtn">Add Property</button>
    </form>
  </div>
</div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/app.min.js') }}" charset="utf-8"></script>
{% endblock %}