{% extends "base.html" %}

{% block main %}
<div class="form-container">
    <h1>Add New Property </h1>
    <form action="{{ url_for('add_property') }}" method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}

        <div class="form-check1">
            {{ form.title.label ('Property Title') }} {{ form.title(class="form-control") }}

        </div>

        <div class="form-check2">
            {{ form.propertyDescription.label('Description') }} {{ form.propertyDescription(class="form-control") }}
        </div>

        <div class="form-check3">
                {{ form.bedrooms.label ('No. of bedrooms') }} {{ form.bedrooms(class="form-control", placeholder='3') }}
            </div>
            <div class="form-check4">
                {{ form.bathrooms.label ('No. of bathrooms') }} {{ form.bathrooms(class="form-control", placeholder='2')}}    
            </div>

            <div class="form-check5">
                {{ form.price.label ('Price') }} {{ form.price(class="form-control", placeholder='15000000') }}    
            </div>
            <div class="form-check6">
                {{ form.propertytype.label ('Property Type')}} {{ form.propertytype(class="form-control")}}    
            </div>

        <div class="form-check7">
            {{ form.location.label ('Location') }} {{ form.location(class="form-control", placeholder='10 Waterloo Rd' ) }}    
        </div>
        <div class="form-check8">
            {{ form.photo.label (class="form-heading") }} {{ form.photo(class="formfeild short") }}    
        </div>
      <div class="f-group">
            {{form.submit}}
        </div>

    </form>  

</div>


{% endblock %}